@media (max-width: 1200px)
    .container
        max-width: 870px
    .promo
        &_header
            font-size: 38px
        &_subheader
            font-size: 20px

@media (max-width: 991px)
    .container
        max-width: 700px
    .promo
        &_header
            font-size: 32px
        &_subheader
            font-size: 16px
        &_icons
            width: 350px
            align-items: center
        &_icon
            font-size: 12px
            img
                width: 40px
        &_link
            font-size: 12px
    .header
        &_phone
            font-size: 16px
        &_logo
            width: 240px
            img
                width: 100%
    .button
        &_main
            width: 260px
            font-size: 14px
    .advantages
        padding-top: 50px
        h2
            font-size: 26px
        &_item
            max-width: 200px
            img
                width: 65px
        &_title
            font-size: 16px
        &_descr 
            font-size: 12px

@media (max-width: 767px)
    .container
        max-width: 520px
    .header
        &_logo
            width: 150px
        &_official
            font-size: 10px
            span
                font-size: 12px
        &_phone
            font-size: 12px
        .button
            width: 120px
            height: 28px
            font-size: 10px
    .promo
        min-height: 500px
        padding-bottom: 50px
        &_header
            font-size: 28px
        &_subheader
            font-size: 13px
            margin-top: 7px
        &_icons
            width: 300px
            align-items: center
        &_icon
            font-size: 12px
            img
                width: 40px
        &_link
            font-size: 12px
        .button
            &_main
                width: 200px
                height: 50px
                font-size: 13px
                margin-top: 50px
    .advantages
        padding: 50px 0
        h2
            font-size: 22px
        &_block
            flex-direction: column
            align-items: center
            margin-top: 0
        &_item
            max-width: 300px
            margin-top: 40px
            img
                width: 80px
        &_title
            font-size: 16px
            margin-top: 16px
        &_descr 
            font-size: 13px
            margin-top: 10px

@media (max-width: 575px)
    .container
        max-width: 300px
    .header
        &_official
            display: none
        &_phone
            display: none
        .button
            display: none
            &_main
                width: 190px
                height: 45px
                margin-top: 30px
                font-size: 12px
    .promo
        min-height: 320px
        padding-bottom: 50px
        &_header
            font-size: 26px
            text-align: right
        &_subheader
            font-size: 12px
            margin-top: 2px
        &_icons
            display: none
        &_link
            font-size: 12px
            margin-top: 5px
            a
                font-size: 10px
    .advantages
        h2
            font-size: 20px
                
    
                

        
